
    <div id="home" class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Home</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome {{user.displayName}}!</h1>
            <p class="lead">Your last login was: {{user.lastLogin}} <br />
              Your current email address is: {{user.email}}
            </p>
            <p class="lead">
              <a href="https://jwt.io/" class="btn btn-lg btn-default">Learn more</a>
              <a href="/logout" class="btn btn-lg btn-default">Logout</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>