<div class="login-page">
<div class="switchLink">
  <a id="switchLink" href="javascript:void(0)" data-current="login">No Account? Click here to register!</a>
</div>
<form class="form-signin" id="login" action="/login" method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="text" id="inputUser" class="form-control" placeholder="Username" required="" autofocus="" name="user">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="pass">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<form class="form-signin" id="register" action="/register" method="POST">
  <h2 class="form-signin-heading">Register</h2>
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="text" id="inputUser" class="form-control" placeholder="Username" required="" autofocus="" name="user">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" name="email">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="pass">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
</div>