<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="/assets/css/vendor/bootstrap/bootstrap.min.css" media="all">
	{{#if css.page}}
	<link href="/assets/css/{{css.page}}.css" rel="stylesheet" />
	{{/if}}

</head>
<body id="{{page.id}}">
	{{> nav}}
	{{{content}}}
	{{>footer}}
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	<script src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>
	{{#if js.page}}
		<script src="/assets/js/{{js.page}}"></script>
	{{/if}}

</body>
</html>